<html>
    <head>
        <title>Message Success...</title>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="5;URL=http://blogoc.senso.lu">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../views/style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid bg-1 text-center">
            <h1>Your message has been sent successfully :)</h1>
            <p>
                You are being automatically redirected to a new location.<br />
                If your browser does not redirect you in 5 seconds, or you do
                not wish to wait, <a href="http://blogoc.senso.lu">click here</a>.
            </p>
        </div>
    </body>
</html>